body {
    margin: 0px;
}

.time-wrapper {
    width: 320px;
    height: 240px;
}

.time-clock {
    margin-top: 22%;
    text-align: center;
    font-size: 420%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.time-date {
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 200%;
}